.App {
  background-color: #212121;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
  
}


.App-logo {
  max-height: 50vh;
  max-width: 30vw;
  margin: 10vw;
}

.timer{
  min-width: 50vw;
  margin-right: 10vw;
}

@media only screen and (max-width: 600px) {
  .App {
    flex-direction: column;
  }

  .App-logo {
    max-height: 50vh;
    max-width: 50vw;
  }

  .timer{
    
    width: 100vw;
    margin-right: 0;
    margin-bottom: 10vw;
  }

}